<html>
    <body>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            img {
                border: 1px solid black;
            }
            .SUCCESS {
                color: green;
            }
            .FAIL {
                color: red;
            }
        </style>
        <header>
            <h1>Antifa UI Testing Result</h1>
            <h2>$testName</h2>
        </header>
        <section>
            <h3>Results</h3>
            <table>
                <thead>
                    <tr>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Elapsed time</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$result.startTime</td>
                        <td>$result.endTime</td>
                        <td>${result.elapsedTime}ms</td>
                        <td class="${result.status}">$result.status</td>
                    </tr>
                </tbody>
            </table>
            #if ($result.status == "FAIL")
            <p><strong>Fail Reason:</strong> $result.failReason</p>
            #end
        </section>
        <section>
            <h3>Executed Steps</h3>
            <ol>
                #foreach( $step in $result.steps )
                <li>
                    <h4>$step.command.instruction</h4>
                    <details>
                        <summary>Details</summary>
                        <table>
                            <thead>
                                <tr>
                                    <th>Start time</th>
                                    <th>End time</th>
                                    <th>Elapsed time</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>$step.startTime</td>
                                    <td>$step.endTime</td>
                                    <td>${step.elapsedTime}ms</td>
                                    <td class="${step.result}">$step.result</td>
                                </tr>
                            </tbody>
                        </table>
                        #if ($step.screenshot)
                        <picture>
                            <img src="data:image/jpeg;base64,${step.screenshot}"/>
                        </picture>
                        #end
                        <p><code>$step.command</code></p>
                    </details>
                </li>
                #end
            </ol>
        </section>
    </body>
</html>